.home-receive {
    width: 100%;
    height: calc(100% - 5rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-receive__header {
    width: 80%;
    height: auto;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-pattern {
    font-size: 1.5rem;
    font-weight: bold;
}

.table-pattern {
    width: 80%;
    margin: 0 auto;
}

.button-register {
    width: 17rem;
    height: 2.5rem;
    margin-left: 1rem;
    line-height: 2.5rem;
    color: #fff;
    background-color: #3CD16C;
}