.menu {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #31e897;

}

.menu__nav__list {
    width: auto;
    height: auto;
    display: flex;
}

.menu__nav__list li {
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-logo {
    width: 4rem;
}