.main-content {
    width: 100%;
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-website {
    width: 70%;
    height: 90%;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.register-website__content {
    width: 100%;
    height: 100%;
    display: flex;
}

.register-website__header {
    box-sizing: border-box;
    width: 40%;
    height: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    background-color: #31e897;
}

.register-website__header__illustration {
    width: 100%;
    height: 30%;
}

.illustration-img {
    width: 60%;
}

.register-website__header__title {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.register-website__header__description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: lighter;
    color: #fff;
}

.register-website__form-container {
    width: 60%;
    height: 100%;
}

.register-website__form {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.form__content__form__inputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-pattern,
.textarea-pattern {
    width: 100%;
    margin: 1rem 0;
}

.inputs-actions {
    width: 100%;
    margin-top: 5%;
}

.button-pattern--cancelar {
    width: 30%;
    color: #c4c4c4;
    font-weight: normal;
    border: 1px solid #cccccc;
    background-color: #fff;
    height: 2.4rem;
}

.button-pattern--submit {
    width: 30%;
    font-weight: 600;
    height: 2.4rem;
    margin-left: 5%;
    min-height: 3rem;
}

.illustration-img--user {
    width: 40%;
}
